doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="theme-color" content="#ff9800")
		meta(name="msapplication-navbutton-color" content="#ff9800")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-touch-fullscreen" content="yes")
		link(rel="icon" type="image/x-icon" sizes="16x16" href="#")
		link(rel="icon" type="image/x-icon" sizes="32x32" href="#")
		link(rel="icon" type="image/png" sizes="50x50" href="#")
		link(rel="icon" type="image/png" sizes="60x60" href="#")
		link(rel="icon" type="image/png" sizes="72x72" href="#")
		link(rel="icon" type="image/png" sizes="76x76" href="#")
		link(rel="icon" type="image/png" sizes="114x114" href="#")
		link(rel="icon" type="image/png" sizes="120x120" href="#")
		link(rel="icon" type="image/png" sizes="144x144" href="#")
		link(rel="icon" type="image/png" sizes="152x152" href="#")
		meta(name="format-detection" content="telephone=no")
		title Verde
		link(rel="stylesheet" href="static/css/main.css")
	body
		svg(style="display:none")
			symbol(id="facebook" viewBox="0 0 310 310")
				path(d="M81.703 165.106h33.981V305a5 5 0 0 0 5 5H178.3a5 5 0 0 0 5-5V165.765h39.064a5 5 0 0 0 4.967-4.429l5.933-51.502a5 5 0 0 0-4.966-5.572h-44.996V71.978c0-9.732 5.24-14.667 15.576-14.667h29.42a5 5 0 0 0 5-5V5.037a5 5 0 0 0-5-5h-40.545A39.746 39.746 0 0 0 185.896 0c-7.035 0-31.488 1.381-50.804 19.151-21.402 19.692-18.427 43.27-17.716 47.358v37.752H81.703a5 5 0 0 0-5 5v50.844a5 5 0 0 0 5 5.001z")
			symbol(id="instagram" height="20px" viewBox="0 0 511 511.9" width="20px")
				path(d="m510.949219 150.5c-1.199219-27.199219-5.597657-45.898438-11.898438-62.101562-6.5-17.199219-16.5-32.597657-29.601562-45.398438-12.800781-13-28.300781-23.101562-45.300781-29.5-16.296876-6.300781-34.898438-10.699219-62.097657-11.898438-27.402343-1.300781-36.101562-1.601562-105.601562-1.601562s-78.199219.300781-105.5 1.5c-27.199219 1.199219-45.898438 5.601562-62.097657 11.898438-17.203124 6.5-32.601562 16.5-45.402343 29.601562-13 12.800781-23.097657 28.300781-29.5 45.300781-6.300781 16.300781-10.699219 34.898438-11.898438 62.097657-1.300781 27.402343-1.601562 36.101562-1.601562 105.601562s.300781 78.199219 1.5 105.5c1.199219 27.199219 5.601562 45.898438 11.902343 62.101562 6.5 17.199219 16.597657 32.597657 29.597657 45.398438 12.800781 13 28.300781 23.101562 45.300781 29.5 16.300781 6.300781 34.898438 10.699219 62.101562 11.898438 27.296876 1.203124 36 1.5 105.5 1.5s78.199219-.296876 105.5-1.5c27.199219-1.199219 45.898438-5.597657 62.097657-11.898438 34.402343-13.300781 61.601562-40.5 74.902343-74.898438 6.296876-16.300781 10.699219-34.902343 11.898438-62.101562 1.199219-27.300781 1.5-36 1.5-105.5s-.101562-78.199219-1.300781-105.5zm-46.097657 209c-1.101562 25-5.300781 38.5-8.800781 47.5-8.601562 22.300781-26.300781 40-48.601562 48.601562-9 3.5-22.597657 7.699219-47.5 8.796876-27 1.203124-35.097657 1.5-103.398438 1.5s-76.5-.296876-103.402343-1.5c-25-1.097657-38.5-5.296876-47.5-8.796876-11.097657-4.101562-21.199219-10.601562-29.398438-19.101562-8.5-8.300781-15-18.300781-19.101562-29.398438-3.5-9-7.699219-22.601562-8.796876-47.5-1.203124-27-1.5-35.101562-1.5-103.402343s.296876-76.5 1.5-103.398438c1.097657-25 5.296876-38.5 8.796876-47.5 4.101562-11.101562 10.601562-21.199219 19.203124-29.402343 8.296876-8.5 18.296876-15 29.398438-19.097657 9-3.5 22.601562-7.699219 47.5-8.800781 27-1.199219 35.101562-1.5 103.398438-1.5 68.402343 0 76.5.300781 103.402343 1.5 25 1.101562 38.5 5.300781 47.5 8.800781 11.097657 4.097657 21.199219 10.597657 29.398438 19.097657 8.5 8.300781 15 18.300781 19.101562 29.402343 3.5 9 7.699219 22.597657 8.800781 47.5 1.199219 27 1.5 35.097657 1.5 103.398438s-.300781 76.300781-1.5 103.300781zm0 0")
				path(d="m256.449219 124.5c-72.597657 0-131.5 58.898438-131.5 131.5s58.902343 131.5 131.5 131.5c72.601562 0 131.5-58.898438 131.5-131.5s-58.898438-131.5-131.5-131.5zm0 216.800781c-47.097657 0-85.300781-38.199219-85.300781-85.300781s38.203124-85.300781 85.300781-85.300781c47.101562 0 85.300781 38.199219 85.300781 85.300781s-38.199219 85.300781-85.300781 85.300781zm0 0")
				path(d="m423.851562 119.300781c0 16.953125-13.746093 30.699219-30.703124 30.699219-16.953126 0-30.699219-13.746094-30.699219-30.699219 0-16.957031 13.746093-30.699219 30.699219-30.699219 16.957031 0 30.703124 13.742188 30.703124 30.699219zm0 0")
		header#header.page-header
			.page-header__top-part
				.wrapper
					.page-header__top-row
						a.page-header__toggle#menu-toggle(href="#")
							span
						.page-header__socials
							ul.page-list
								li
									a(href="#")
										svg.icon--facebook(width="20" height="20")
											use(xlink:href="#facebook")
								li
									a(href="#")
										svg.icon--instagram(width="20" height="20")
											use(xlink:href="#instagram")
						.page-header__logo
							a(href="index.html")
								img(src="static/img/logo.png", alt="")
						.page-header__address
							span Кутузовский проспект, 36 стр.4
							span Пн-вс: 10:00-21:00
						.page-header__call
							a(href="tel:+74993509644") +7 (499) 350–96–44
			.page-header__bottom-part
				.wrapper
					.page-header__bottom-row
						nav.page-header__nav
							ul.page-list
								li
									a(href="#") О нас
								li
									a(href="#") Бренд-шеф
								li
									a(href="#") Меню
								li
									a(href="#") Галерея
								li
									a(href="#") Новости
								li 
									a(href="#") Доставка/Кейтеринг
								li 
									a(href="#") Контакты
			.page-header__menu.popup-block#header-menu
				.inner__menu
					a.page-header__toggle.close-button#menu-close(href="#" data-toggle="dismiss")
						span
					nav.page-header__nav
						ul.page__list
								li
									a(href="#") О нас
								li
									a(href="#") Бренд-шеф
								li
									a(href="#") Меню
								li
									a(href="#") Галерея
								li
									a(href="#") Новости
								li 
									a(href="#") Доставка/Кейтеринг
								li 
									a(href="#") Контакты
		.main-page-wrap
			.main-page-blocks
				section.promo-block
					.promo-block__slider
						.promo-block__slide
							.promo-block__slider-wrapper
								.promo-block__slider-photo
									img(src="static/img/main-slider-bg.jpg", alt="")
									.promo-block__photo-overlay
								.promo-block__slider-body
									span Verde café
									h2 RAW VEGAN
									p Кулинарное искусство, максимальная польза продуктов 
										br
										| в каждой тарелке и приятная атмосфера.
						.promo-block__slide
							.promo-block__slider-wrapper
								.promo-block__slider-photo
									img(src="static/img/main-slider-bg.jpg", alt="")
									.promo-block__photo-overlay
								.promo-block__slider-body
									span Verde café
									h2 RAW VEGAN
									p Кулинарное искусство, максимальная польза продуктов 
										br
										| в каждой тарелке и приятная атмосфера.
						.promo-block__slide
							.promo-block__slider-wrapper
								.promo-block__slider-photo
									img(src="static/img/main-slider-bg.jpg", alt="")
									.promo-block__photo-overlay
								.promo-block__slider-body
									span Verde café
									h2 RAW VEGAN
									p Кулинарное искусство, максимальная польза продуктов 
										br
										| в каждой тарелке и приятная атмосфера.
				section.about-block
					.about-block__wrapper
						.about-block__content
							h3 Verde café
							p Уникальное место, где сочетается домашняя уютная атмосфера, отзывчивый дружелюбный персонал и по–настоящему полезная вкусная еда по рецептам гуру веганской кухни США, Калифорния – Matthew Kenney. Verde café по праву входит в топ лучших веганских ресторанов города, объединяя уютный интерьер, качественный сервис, кулинарное искусство и максимальную пользу от каждого продукта.
						.about-block__photo-block
							img(src="static/img/about.jpg", alt="")
				section.brandchef-block
					.brandchef-block__heading
						h3 Бренд–шеф
						p Выпускница калифорнийской веганской школы Matthew Kenney - Анна Десятова. 
							br
							| Создатель уникальных для российского рынка продуктов, например, кокосовый кефир без содержания животного белка, йогуртов, соусов, комбучи
					.brandchef-block__wrapper
						.brandchef-block__photo-block
							img(src="static/img/brandchef.jpg", alt="")
						.brandchef-block__content
							h3 Анна Десятова
							p «Мы создаём не просто RawVegan еду и напитки, наша продукция - это сочетание высоких технологий и кулинарного мастерства. Мы создали продукт, который превращает выбор между традиционной и сырой живой кухней в вопрос исключительно этический. Потому что по вкусовым качествам наша сырая пища не просто не уступает традиционной, но она ярче и интереснее».
				section.menu-block
					.menu-block__header
						.menu-block__heading
							span Меню
							h2 Raw Vegan
							p Все процессы, в которых мы можем поучаствовать и приготовить самостоятельно, включая муку, масла, хлеб, ферментированные продукты и растительное молоко, мы делаем сами
						.menu-block__photo-block
							img(src="static/img/menu-photo.jpg", alt="")
							.menu-block__photo-overlay
					.menu-block__breakfast-block
						.wrapper
							.menu-block__breakfast-heading
								.wow.fadeIn(data-wow-delay=".3s")
									.menu-block__breakfast-title
										h2 Verde меню
								.wow.fadeIn(data-wow-delay=".3s")
									.menu-block__breakfast-type
										span Завтраки 
											small (весь день)
							.menu-block__breakfast-list
								.wow.fadeIn(data-wow-delay=".3s")
									.menu-block__breakfast-row
										.menu-block__breakfast-card
											h3 Тофу скрамбл с шелковым тофу
											span 590 ₽
										.menu-block__breakfast-card
											h3 Протеиновый 
												br
												| омлет
											span 490 ₽
										.menu-block__breakfast-card
											h3 Омлет 
												br
												| vegan
											span 450 ₽
										.menu-block__breakfast-card
											h3 Киноа с ананасом 
												br 
												| и кинзой
											span 370 ₽
								.wow.fadeIn(data-wow-delay=".3s")
									.menu-block__breakfast-row
										.menu-block__breakfast-card
											h3 Тофу сырники
												br
												| безглютеновые
											span 390 ₽
										.menu-block__breakfast-card
											h3 Тофу сырники
												br
												| безглютеновые
											span 340 ₽
										.menu-block__breakfast-card
											h3 Цельнозерновые б линчики с яблоком и корицей
											span 340 ₽
										.menu-block__breakfast-card
											h3 Круассан с тофу гриль и томатами
											span 340 ₽	
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__breakfast-row
										.menu-block__breakfast-card
											h3 Ржаные тосты с гуакамоле и томатами
											span 400 ₽	
										.menu-block__breakfast-card
											h3 Спелый авокадо
												br
												| с кунжутом и лимоном
											span 190 ₽
										.menu-block__breakfast-card
											h3 Зеленая гречка на миндальном молоке 
												span ( raw )
											span 320 ₽
										.menu-block__breakfast-card
											h3 Гранола–парфе на 
												br
												| кокосовом йогурте 
												span ( raw )
											span 590 ₽	
								.wow.fadeIn(data-wow-delay=".9s")
									.menu-block__breakfast-row
										.menu-block__breakfast-card
											h3 Чиа–пудинг  
												br
												| ягодный 
												span ( raw )
											span 590 ₽	
										.menu-block__breakfast-card
											h3 Чиа–пудинг 
												br
												| тыквенный 
												span ( raw )
											span 590 ₽	
										.menu-block__breakfast-card
											h3 Смузи–боул  
												br
												| «Тропический» 
												span ( raw )
											span 590 ₽	
										.menu-block__breakfast-card
											h3 Смузи–боул 
												br
												| «Зеленый–кето» 
												span ( raw )
											span 590 ₽	
								.wow.fadeIn(data-wow-delay="1.2s")
									.menu-block__breakfast-row
										.menu-block__breakfast-card
											h3 Смузи 
												br
												| «Протеин» 
												span ( raw )
											span 590 ₽	
										.menu-block__breakfast-card
											h3 Смузи 
												br
												| «Антиоксидант» 
												span ( raw )
											span 590 ₽	
										.menu-block__breakfast-card
											h3 Фреш green «Очищение–иммунитет» 
												span ( raw )
											span 590 ₽	
										.menu-block__breakfast-card
											h3 Фреш Orange «Похудение–омоложение» 
												span ( raw )
											span 590 ₽	
								.wow.fadeIn(data-wow-delay="1.5s")
									.menu-block__breakfast-card
										h3 Фреш Red «Энергия–витамины» 
											span ( raw )
										span 590 ₽
					.menu-block__salads-block
						.wrapper
							.menu-block__salads-heading
								h2 Салаты
							.menu-block__salads-list
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__salads-row
										.menu-block__salads-card
											h3 Салат с бататом 
												br
												| и грушей
											span 350 ₽
										.menu-block__salads-card
											h3 Цезарь 
												br
												| с фалафелем
											span 350 ₽	
										.menu-block__salads-card
											h3 Салат 
												br
												| «Сакраменто»
											span 370 ₽
										.menu-block__salads-card
											h3 Салат
												br
												| из розовых томатов 
												span ( raw )
											span 400 ₽
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__salads-row
										.menu-block__salads-card
											h3 Blue green salad ( raw )
											span 500 ₽
										.menu-block__salads-card
											h3 Orange salad ( raw )
											span 500 ₽
					.menu-block__snacks-block
						.wrapper
							.menu-block__snacks-heading
								h2 Закуски
							.menu-block__snacks-list
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__snacks-row
										.menu-block__snacks-card
											h3 Брускетта с грибами
											span 370 ₽
										.menu-block__snacks-card
											h3 Тофу скрамбл
											span 590 ₽
										.menu-block__snacks-card
											h3 Пирожки с тофу
											span 450 ₽
										.menu-block__snacks-card
											h3 Оливки греческие
											span 400 ₽	
					.menu-block__rolls-block
						.wrapper
							.menu-block__rolls-heading
								h2 Роллы
							.menu-block__rolls-list
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__rolls-row
										.menu-block__rolls-card
											h3 Брускетта с грибами
											span 500 ₽
										.menu-block__rolls-card
											h3 Тофу скрамбл
											span 500 ₽	
					.menu-block__soups-block
						.wrapper
							.menu-block__soups-heading
								h2 Супы
							.menu-block__soups-list
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__soups-row
										.menu-block__soups-card
											h3 Суп Фо ( raw )
											span 450 ₽
										.menu-block__soups-card
											h3 Том ям
											span 400 ₽
										.menu-block__soups-card
											h3 Veg harcho
											span 320 ₽
										.menu-block__soups-card
											h3 Veg borscht
											span 320 ₽	
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__soups-row
										.menu-block__soups-card
											h3 Крем–суп из тыквы 
												br
												| по–тайски
											span 350 ₽
										.menu-block__soups-card
											h3 Острый томатный суп
											span 350 ₽
										.menu-block__soups-card
											h3 Суп Фо
											span 450 ₽
										.menu-block__soups-card
											h3 Шпинатный крем–суп
											span 400 ₽	
					.menu-block__dishes-block
						.wrapper
							.menu-block__dishes-heading
								h2 Основные блюда
							.menu-block__dishes-list
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__dishes-row
										.menu-block__dishes-card
											h3 Капустное софрито
											span 390 ₽
										.menu-block__dishes-card
											h3 Тофстроганов
											span 390 ₽
										.menu-block__dishes-card
											h3 Картофельные ньокки
											span 700 ₽
										.menu-block__dishes-card
											h3 Паппарделле с вялеными томатами
											span 500 ₽	
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__dishes-row
										.menu-block__dishes-card
											h3 Ризотто с чёрным 
												br
												| рисом
											span 500 ₽
										.menu-block__dishes-card
											h3 Карри 
												br
												| с рисом
											span 700 ₽
										.menu-block__dishes-card
											h3 Тофу в азиатском 
												br
												| стиле
											span 500 ₽
										.menu-block__dishes-card
											h3 Темпе с кремом из 
												br
												| баклажан
											span 700 ₽	
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__dishes-row
										.menu-block__dishes-card
											h3 Ризотто с грибами
											span 500 ₽
										.menu-block__dishes-card
											h3 Паста с лесными грибами
											span 550 ₽
										.menu-block__dishes-card
											h3 Темпе ролл
											span 350 ₽
										.menu-block__dishes-card
											h3 Тофу ролл
											span 350 ₽	
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__dishes-row
										.menu-block__dishes-card
											h3 Пицца с соусом чипотле, грибами и тофу
											span 500 ₽
										.menu-block__dishes-card
											h3 Бургер с тофу 
												br
												| котлетой
											span 500 ₽
										.menu-block__dishes-card
											h3 Бургер c фасолевой
												br
												| котлетой
											span 500 ₽
										.menu-block__dishes-card
											h3 Лапша Келп 
												br
												| Cacio E Pepe 
												span ( raw )
											span 500 ₽	
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__dishes-row
										.menu-block__dishes-card
											h3 Гавайский поке
												span ( raw )
											span 500 ₽
										.menu-block__dishes-card
											h3 Лакса карри
												span ( raw )
											span 500 ₽	
					.menu-block__desserts-block
						.wrapper
							.menu-block__desserts-heading
								h2 Десерты
							.menu-block__desserts-list
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__desserts-row
										.menu-block__desserts-card
											h3 Шоколадный торт 
												br
												| «Пражский»
											span 550 ₽
										.menu-block__desserts-card
											h3 Чизкейк
											span 490 ₽
										.menu-block__desserts-card
											h3 Carrot cake
											span 450 ₽
										.menu-block__desserts-card
											h3 Verde Cake
											span 550 ₽	
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__desserts-row
										.menu-block__desserts-card
											h3 Тирамису 
												span ( raw )
											span 490 ₽
										.menu-block__desserts-card
											h3 Семифредо 
												span ( raw )
											span 520 ₽
										.menu-block__desserts-card
											h3 Пирожное Наполеон
											span 400 ₽
										.menu-block__desserts-card
											h3 Бригадейро
												span ( raw )
											span 490 ₽	
							.desserts-block__gallery-block
								.desserts-block__left-part
									.desserts-block__photo-block.desserts-block__slider-one
										img(src="static/img/photo-dessert-1.jpg", alt="")
								.desserts-block__right-part
									.desserts-block__photo-block.desserts-block__slider-two
										img(src="static/img/photo-dessert-2.jpg", alt="")
							.menu-block__desserts-list
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__desserts-row
										.menu-block__desserts-card
											h3 Кокосовое мороженое 
												span ( raw )
											span 150 ₽
										.menu-block__desserts-card
											h3 Verde сорбет 
												span ( raw )
											span 180 ₽
										.menu-block__desserts-card
											h3 Мороженое пралине
											span 200 ₽
										.menu-block__desserts-card
											h3 Трюфель
												span ( raw )
											span 70 ₽	
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__desserts-row
										.menu-block__desserts-card
											h3 Тарталетка мини 
												br
												| орехово–карамельная
											span 75 ₽
										.menu-block__desserts-card
											h3 Тарталетка мини 
												br
												| c голубикой
											span 75 ₽
										.menu-block__desserts-card
											h3 Тарталетка мини 
												br
												| c малиной
											span 75 ₽
										.menu-block__desserts-card
											h3 Тарталетка мини 
												br
												| c клубникой
											span 75 ₽	
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__desserts-row
										.menu-block__desserts-card
											h3 Маффин мини 
												br
												| с клюквой
											span 70 ₽
										.menu-block__desserts-card
											h3 Маффин мини с черной 
												br
												| смородиной
											span 70 ₽
										.menu-block__desserts-card
											h3 Cookies брауни 
												br
												| с фундуком
											span 180 ₽
										.menu-block__desserts-card
											h3 Cookies овсяный с 
												br
												| миндалем и клюквой
											span 150 ₽	
					.menu-block__bar-block
						.wrapper
							.menu-block__bar-heading
								h2 Bar menu
							.menu-block__bar-list
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__bar-row
										.menu-block__bar-card
											h3 Fresh апельсин / грейпфрут 
												br
												| / яблоко 
												span ( raw )
											span 400 ₽
										.menu-block__bar-card
											h3 Fresh морковь
												span ( raw )
											span 300 ₽
										.menu-block__bar-card
											h3 Fresh ананас
												span ( raw )
											span 600 ₽
										.menu-block__bar-card
											h3 Овощной тоник «Овощная формула»
												span ( raw )
											span 420 ₽	
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__bar-row
										.menu-block__bar-card
											h3 Овощной тоник «Кровавая мери»
												span ( raw )
											span 430 ₽
										.menu-block__bar-card
											h3 Fresh «Цитрусово–
												br
												| мятный»
												span ( raw )
											span 495 ₽
										.menu-block__bar-card
											h3 Fresh green «Очищение–
												br
												| иммунитет»
												span ( raw )
											span 300 ₽
										.menu-block__bar-card
											h3 Fresh orange «Похудение–омоложение»
												span ( raw )
											span 300 ₽	
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__bar-row
										.menu-block__bar-card
											h3 Fresh red «Энергия–
												br
												| витамины»
												span ( raw )
											span 300 ₽
										.menu-block__bar-card
											h3 Fresh «Тропический
												br
												| зеленый»
												span ( raw )
											span 495 ₽
										.menu-block__bar-card
											h3 Смузи
												br
												| «Антиоксидант»
												span ( raw )
											span 300 ₽
										.menu-block__bar-card
											h3 Смузи 
												br
												| Протеин
												span ( raw )
											span 300 ₽	
								.wow.fadeIn(data-wow-delay=".6s")
									.menu-block__bar-row
										.menu-block__bar-card
											h3 Кокосовая
												br
												| вода
												span ( raw )
											span 430 ₽
										.menu-block__bar-card
											h3 Fresh «Тропический
												br
												| зеленый»
												span ( raw )
											span 495 ₽
										.menu-block__bar-card
											h3 Смузи
												br
												| «Антиоксидант»
												span ( raw )
											span 300 ₽
										.menu-block__bar-card
											h3 Смузи 
												br
												| Протеин
												span ( raw )
											span 300 ₽	
			.popup-block#popup.popup-dessert
				.popup-block__overlay
					.popup-block__popup
						.inner__content
							a.popup-block__close(href="javascript:;")
							.popup-block__row
								.popup-block__dessert-slider
									.popup-block__dessert-photo
										img(src="static/img/photo-dessert-1.jpg", alt="")
									.popup-block__dessert-photo
										img(src="static/img/photo-dessert-2.jpg", alt="")
									.popup-block__dessert-photo
										img(src="static/img/photo-dessert-1.jpg", alt="")
									.popup-block__dessert-photo
										img(src="static/img/photo-dessert-2.jpg", alt="")
			.popup-block#popup.popup-catering
				.popup-block__overlay
					.popup-block__popup
						.inner__content
							a.popup-block__close(href="javascript:;")
							.popup-block__row
								.popup-block__catering-slider
									.popup-block__catering-photo
										img(src="static/img/photo-dessert-2.jpg", alt="")
									.popup-block__catering-photo
										img(src="static/img/photo-dessert-1.jpg", alt="")
									.popup-block__catering-photo
										img(src="static/img/photo-dessert-2.jpg", alt="")
									.popup-block__catering-photo
										img(src="static/img/photo-dessert-1.jpg", alt="")
	script(src="static/js/jquery-3.3.1.min.js")
	script(src="static/js/slick.min.js")
	script(src="static/js/wow.min.js")
	script(src="static/js/main.js")