.brandchef-block {
	background-color: #dbe0dc;
	padding-top: 135px;
	padding-bottom: 180px;
	&__heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 50px;
	}
	&__heading h3 {
		font-size: 46px;
		line-height: 72px;
		font-family: 'Playfair Display', 'Roboto', sans-serif;
		font-weight: 100;
		color: #000;
		padding-bottom: 50px;
	}
	&__heading p {
		margin: 0;
		display: block;
		width: 780px;
		text-align: center;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.45;
		color: #000;
	}
	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	&__photo-block {
		position: relative;
		width: 540px;
		height: 410px;
	}
	&__photo-block img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
		backface-visibility: hidden;
	}
	&__content {
		position: relative;
		background-color: #fff;
		width: 456px;
		padding: 60px;
		padding-right: 80px;
		top: 38px;
		left: -60px;
	}
	&__content h3 {
		position: relative;
		display: block;
		font-family: 'Georgia', 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 24px;
		color: #000;
		line-height: 1.23;
		padding-bottom: 16px;
		margin-bottom: 28px;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 40px;
			height: 1px;
			background-color: #000;
		}
	}
	&__content p {
		display: block;
		font-size: 18px;
		line-height: 1.55;
		font-weight: 300;
		color: #000;
	}
}