.button {
	border: none;
	background: none;
	outline: none;
	padding: 0;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	transition: all .3s ease-in-out;
}