body {
	padding-top: 200px;
}

.main-page-wrap {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 200px);
}

.main-page-blocks {
	width: 100%;
	flex-shrink: 0;
}

.wrapper {
	position: relative;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.page-list {
	display: flex;
	list-style-type: none;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}


.page-header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
	background-color: #fff;
}

.page-header__top-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 200px;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: rgba(0,0,0,0.1);
	}
}

.page-header__socials ul li {
	width: 30px;
	height: 30px;
}

.page-header__socials ul li:not(:last-child) {
	margin-right: 10px;
}

.page-header__socials ul a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #939598;
	border-radius: 50%;
	padding: 5px;
	transition: all .3s ease-in-out;
	&:hover {
		background-color: #000;
	}
}

.icon--facebook, .icon--instagram {
	fill: #fff;
}

.page-header__logo {
	width: 150px;
	display: flex;
	flex-shrink: 0;
	margin-left: auto;
	margin-right: 75px;
}

.page-header__address {
	display: flex;
	flex-direction: column;
	margin-right: 25px;
}

.page-header__address span {
	display: block;
	white-space: nowrap;
	font-size: 13px;
	color: #000;
	text-align: right;
}

.page-header__call a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #304c56;
	background-color: #bdd9e3;
	border-radius: 20px;
	width: 185px;
	height: 40px;
	font-size: 14px;
	font-weight: 400;
	transition: all .3s ease-in-out;
	&:hover, &:active {
		background-color: darken(#bdd9e3, 10%);
		color: lighten(#304c56, 10%);
	}
}

.page-header__bottom-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.page-header__nav ul a {
	color: #000;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
	display: block;
	z-index: 4;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
}

.page-header__nav ul li:not(:last-child) {
	margin-right: 30px;
}

.page-header__nav a:hover,
.page-header__nav a:active {
	color: #939598;
}

.page-header__toggle {
	cursor: pointer;
	position: absolute;
	top: 30px;
	left: 20px;
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page-header__toggle span {
	position: relative;
	display: block;
	width: 21px;
	height: 2px;
	background-color: #000;
	user-select: none;
	transition: background-color .3s;
}

.page-header__toggle span::after, 
.page-header__toggle span::before {
	content: '';
	position: absolute;
	right: 0;
	width: 21px;
	height: 100%;
	background-color: #000;
	transition: transform .3s;
}

.page-header__toggle span::before {
	transform: translateY(-.5em);
}

.page-header__toggle span::after {
	transform: translateY(.5em);
}

.page-header__toggle.close-button {
	margin-bottom: 60px;
	margin-left: auto;
}

.page-header__toggle.close-button span {
	width: 25px;
}

.page-header__toggle.close-button span::before {
	width: 25px;
	transform: translateY(-.26em) translateX(.5em) rotate(45deg) scaleX(.6);
}

.page-header__toggle.close-button span::after {
	width: 25px;
	transform: translateY(.26em) translateX(.5em) rotate(-45deg) scaleX(.6);
}

.page-header__menu:not(.active) {
  display: none;
}

.page-header__menu {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	min-height: 100vh;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	padding: 30px 15px 100px;
	background-color: #0C2A4D;
	transition: all .3s ease-in-out;
}

.page-header__menu .inner__menu {
	width: 100%;
	height: auto;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}


@media (max-width: 767px) {
	.wrapper {
		width: 100%;
    max-width: 330px;
    padding-left: 15px;
    padding-right: 15px;
	}
	.page-header__row {
		width: 100%;
		max-width: 330px;
		height: auto;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		padding: 15px;
	}
	.page-header__top-row {
		flex-direction: column;
		align-items: center;
		padding-bottom: 40px;
		height: auto;
	}
	.page-header__socials {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.page-header__address {
		margin-right: 0;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.page-header__address span {
		text-align: center;
	}
	.page-header__logo {
		margin-left: 0;
		margin-right: 0;
	}
	.page-header__bottom-row {
		flex-direction: column;
		align-items: center;
	}
	.page-header__toggle {
		display: flex;
	}
	.page-header__nav {
		display: none;
	}
	.page-header__nav ul {
		flex-direction: column;
		align-items: center;
	}
	.page-header__nav ul li:not(:last-child) {
		margin-right: 0;
	}
	.page-header__menu {
		position: fixed;
		top: 50px;
		left: 0;
		transform: translateX(-100%);
		display: block!important;
		pointer-events: none;
		transition: all .3s ease-in-out;
		transition: transform .2s cubic-bezier(.645,.045,.355,1);
		padding: 10;
		background-color: #fff;
	}
	.page-header__menu .inner__menu {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		max-width: 330px;
		margin: 0 auto;
	}
	.page-header__menu.active {
		opacity: 1;
		pointer-events: all;
		transform: translateX(0);
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	body {
		padding-top: 64px;
	}
	.page-header {
		background-color: #111;
	}
	.wrapper {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
	.page-header__top-row {
		height: auto;
	}
	.page-header__socials, .page-header__address, .page-header__logo, .page-header__call, .page-header__nav {
		display: none;
	}
	.page-header__menu {
		padding: 30px 30px 100px;
	}
	.page-header__toggle {
		top: 25px;
		right: 20px;
		left: auto;
	}
	.page-header__toggle span {
		background-color: #fff;
	}
	.page-header__toggle span::after, .page-header__toggle span::before {
		background-color: #fff;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		width: 1170px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.page-header__menu {
		padding: 28px 0 100px;
	}
	.page-header__menu .inner__menu {
		position: relative;
		width: 1170px;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.page-header__menu .page-header__nav ul {
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.page-header__menu .page-header__nav ul li a {
		display: block;
		font-size: 30px;
		line-height: 1.2;
		transition: all .2s ease-in-out;
		padding: 15px 0;
	}
	.page-header__toggle {
		display: none;
	}
}
