// .fancybox-button svg {
// 	display: none;
// }

.fancybox-navigation .fancybox-button.fancybox-button--arrow_left div::before {
	content: '';
	position: absolute;
	top: 42px;
	left: 18px;
	width: 20px;
	height: 2px;
	background-color: #fff;
	transform: rotate(-45deg);
	z-index: 90;
}

.fancybox-navigation .fancybox-button.fancybox-button--arrow_left div::after {
	content: '';
	position: absolute;
	bottom: 42px;
	left: 18px;
	width: 20px;
	height: 2px;
	background-color: #fff;
	transform: rotate(45deg);
	z-index: 90;
}

.fancybox-navigation .fancybox-button.fancybox-button--arrow_right div::before {
	content: '';
	position: absolute;
	top: 42px;
	right: 18px;
	width: 20px;
	height: 2px;
	background-color: #fff;
	transform: rotate(45deg);
	z-index: 90;
}

.fancybox-navigation .fancybox-button.fancybox-button--arrow_right div::after {
	content: '';
	position: absolute;
	bottom: 42px;
	right: 18px;
	width: 20px;
	height: 2px;
	background-color: #fff;
	transform: rotate(-45deg);
	z-index: 90;
}

.fancybox-button {
	background: 0;
}

.fancybox-navigation .fancybox-button div svg {
	display: none;
}